body{
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
}

button {
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f6f6f6;
;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  font-family: inherit; /* Optional: Schrift vom Eltern-Element übernehmen */
}

button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
